/* basic css */
body {
	font-family: "Calibri";
    background-color: #f5deb3;
    margin: 0;
    padding: 0.5cm;
}

h1 {
    color: blue;
    text-align: center;
}
h2 {
	border-top-style: solid;
}
p {
    font-size: 20px;
}
form {
	border-style: solid;
	padding: 0.1cm;
}
.UserAction {
	font-weight: bold;
	background-color: yellow;
}
#hello {
	foreground-color: brown;
}